<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>タスク閲覧</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

</head>

<body>
<div class="container">
    <h1 style="margin-top: 20px;" align="center">タスク閲覧</h1>
        <div class="form-group">
            <label class="control-label"style="margin-top: 30px;">タイトル</label>
            <input disabled class="form-control" type="text" th:field="*{task.task_name}" />
        </div>

    <div class="form-group">
        <label class="control-label"style="margin-top: 10px;">タスクの内容</label>
        <textarea disabled class="form-control" name="description" th:field="*{task.description}" rows="3" aria-label="With textarea"></textarea>

    </div>

        <div class="form-group ">
            <p>
                <label class="control-label" for="startDate" style="margin-top: 10px;">予定日</label>
                <input disabled
                    class="form-control" id="startDate" name="startDate"
                    autocomplete="off" placeholder="YYYY/MM/DD" type="text"
                    th:field="*{task.start_date}" />
            </p>
        </div>

        <div class="form-group ">
            <label class="control-label" for="finishDate" style="margin-top: 10px;">完了日</label> <input disabled
                class="form-control" id="finishDate" name="finishDate"
                autocomplete="off" placeholder="YYYY/MM/DD" type="text"
                th:field="*{task.end_date}" />
        </div>

        <div class="form-group">
            <label class="control-label" style="margin-top: 10px;">優先順位</label>
            <div th:switch="${task.getPriority()}" class="form-control" type="text" >
                <p th:case="'1'">非常に高い</p>
                <p th:case="'2'">高い</p>
                <p th:case="'3'">ノーマル</p>
                <p th:case="'4'">低い</p>
                <p th:case="'5'">非常に低い</p>
            </div>
        </div>

    <div class="pull-right form-row" style="margin-top: 20px">
        <div class="col-6" align="right">
            <a th:href="@{'/task/update/' + ${task.id}}">
                <button class="btn btn-info">変更</button>
            </a></div>
        <div class="col-6">
            <button class="btn btn-secondary"
                onclick="window.location.href='/task'" type="button">戻る
            </button></div>
    </div>


</div>
</body>
</html>