<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>ToDoリスト</title>

    <style>
        .tableScroll {
            overflow-y: auto;
            height: 400px;
        }

        .tableScroll table {
            border-collapse: collapse;
            width: 100%;
        }

        .tableScroll th, .tableScroll td {
            padding: 8px 16px;
        }

        .tableScroll th {
            position: sticky;
            top: 0;
            background: whitesmoke;
        }
    </style>

</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TODOLIST</a>

    <a th:href="@{'/task/create'}">
        <button type="button" class="btn btn-info">タスク登録</button>
    </a>

</nav>
<div class="col">
    <div id="alertSuccess" class="alert alert-success  float-right"
         style="display: none" role="alert">タスクが完了になりました。</div>
    <div align="center" id="form-index">

            <h1 style="margin-top: 20px;">タスク・マネージャー</h1>

        <div class="container">

            <div class="row" style="margin-top: 50px;">

                <div class="col-8">
                <div>未完了タスク一覧</div>
                    <div class="tableScroll" style="margin-top: 10px">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">タスクの名前</th>
                                <th scope="col">開始日</th>
                                <th scope="col">終了日</th>
                                <th scope="col">優先順位</th>
                                <th scope="col">行動</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${#lists.isEmpty(listTaskUnfinished)}">
                                <td colspan="6" style="text-align: center">未完了タスクがありません</td>
                            </th:block>
                            <tr th:each="task,iterStat :${listTaskUnfinished}">
                                <td><a th:href="@{'/task/detail/' + ${task.id}}"><p th:text="${iterStat.count}"></p></a></td>
                                <td><a th:href="@{'/task/detail/' + ${task.id}}"><p th:text="${task.getTask_name()}"></p></a></td>
                                <td><a th:href="@{'/task/detail/' + ${task.id}}"><p th:text="${#dates.format(task.start_date, 'yyyy-MM-dd')}"></p></a></td>
                                <td><a th:href="@{'/task/detail/' + ${task.id}}"><p th:text="${#dates.format(task.end_date, 'yyyy-MM-dd')}"></p></a></td>
                                <td th:switch="${task.getPriority()}"><a th:href="@{'/task/detail/' + ${task.id}}">
                                    <p th:case="'1'">非常に高い</p>
                                    <p th:case="'2'">高い</p>
                                    <p th:case="'3'">ノーマル</p>
                                    <p th:case="'4'">低い</p>
                                    <p th:case="'5'">非常に低い</p>
                                </a>
                                </td>
                                <td>
                                    <a th:href="@{'/task/finished_task/' + ${task.id}}">
                                        <button type="button" class="btn btn-info">完了</button>
                                    </a>

                                    <a th:href="@{'/task/delete/' + ${task.id}}" onclick="return confirm('タスクを削除します。本当によろしいですか？');">
                                        <button type="button" class="btn btn-danger"> <i class="fa fa-trash"></i> </button>
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="col-4">
                    <div>完了タスク一覧</div>

                    <div class="tableScroll" style="margin-top: 10px">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">タスクの名前</th>
                                <th scope="col">行動</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${#lists.isEmpty(listTaskFinished)}">
                                <td colspan="6" style="text-align: center">完了タスクがありません</td>
                            </th:block>
                            <th:block th:unless="${#lists.isEmpty(listTaskFinished)}">
                                <tr th:each="task,iterStat :${listTaskFinished}">
                                    <td><a th:href="@{'/task/detail/' + ${task.id}}"><p th:text="${iterStat.count}"></p></a></td>
                                    <td><a th:href="@{'/task/detail/' + ${task.id}}"><p th:text="${task.getTask_name()}"></p></a></td>
                                    <td>
                                        <a th:href="@{'/task/unfinished_task/' + ${task.id}}">
                                            <button type="button" class="btn btn-danger">未完了</button>
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


</body>

<!--<script type="text/javascript">-->
    <!--var listIDDelete = [];-->
<!--$(function getListIdDelete(id) {-->

    <!--if ($("#cb_delete" + id).is(':checked')) {-->
    <!--listIDDelete.push(id);-->
    <!--} else {-->
    <!--//uncheck - clear input-->

    <!--const index = listIDDelete.indexOf(id);-->
    <!--if (index > -1) {-->
    <!--listIDDelete.splice(index, 1);-->
    <!--}-->
    <!--}-->
    <!--console.log(listIDDelete);-->
<!--});</script>-->

<footer style="text-align: center; margin-top: 50px">@FPT日本語学校・ファム ド ミン ハイ</footer>
</html>