<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>タスク編集</title>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

    <script>

        $(document).ready(function() {

            $('#task-form1').validate({
                rules : {
                    task_name : 'required',
                    description: 'required',
                    start_date : {
                        required : true
                    },
                    end_date : {
                        required : true
                    }
                },
                messages : {
                    task_name : '必須項目です。',
                    description:'必須項目です。',
                    start_date : '必須項目です。',
                    end_date : '必須項目です。'
                },

                submitHandler : function(form) {
                    console.log("summit")
                    var r = confirm("タスクを保存します。本当によろしいですか？");
                    if (r == true) {
                        form.submit();
                    }
                }
            });

        });</script>


</head>

<body>
<div class="container">
    <h1 style="margin-top: 20px;" align="center">タスク変更</h1>
    <form id="task-form1" th:object="${task}" th:action="@{/task/update/{id}(id=*{id})}" th:method="post" name="task-form">
        <div class="form-group">
            <label class="control-label" style="margin-top: 30px;">タイトル (*)</label> <input
                class="form-control" type="text" th:field="*{task_name}" placeholder="タイトル"/>
        </div>

        <div class="form-group">
            <label class="control-label" style="margin-top: 10px;">タスクの内容  (*)</label>
            <textarea class="form-control" name="description" th:field="*{description}"
                      rows="3" aria-label="With textarea" placeholder="タスクの内容"></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" th:for="start_date" style="margin-top: 10px;">予定日 (*)</label>

            <input type="date"  th:field="*{start_date}" class="form-control">

        </div>

        <div class="form-group">
            <label class="control-label" th:for="start_date" style="margin-top: 10px;">完了日 (*)</label>

            <input type="date"  th:field="*{end_date}" class="form-control">

        </div>

        <div class="form-group">
            <label class="control-label" style="margin-top: 10px;">優先順位 (*)</label>
            <div>
                <select class="browser-default custom-select" th:field="*{priority}" name="priorityLevel">
                    <option value="1">非常に高い</option>
                    <option value="2">高い</option>
                    <option value="3">ノーマル</option>
                    <option value="4">低い</option>
                    <option value="5">非常に低い</option>
                </select>
            </div>
        </div>

        <div class="pull-right form-row" style="margin-top: 20px">
            <div class="col-6" align="right">
            <button class="btn btn-info" type="submit">保存</button></div>
            <div class="col-6"><button class="btn btn-secondary"
                    onclick="window.location.href='/task'" type="button">戻る</button></div>
        </div>

    </form>

</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
    });
    $(function () {
        $('#datetimepicker2').datetimepicker({format: 'YYYY-MM-DD'});
    });

</script>

</body>
</html>